#forwidth{
    max-width: 1000px;
}
body {
    background-image: url("https://i.guim.co.uk/img/media/fccf2d648bd42dae41b65cad55925181506ec5e7/0_117_6016_3611/master/6016.jpg?width=620&dpr=1&s=none");
    background-size: cover;
    font-family:  Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.3);
    height: 100vh;
    
}

h1 ,p{
    margin-top: 10px;
    margin-bottom: 10px;
    color:aliceblue;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
     color:aliceblue;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#increment-btn {
    background: darkred;
}

#save-btn {
    background: darkgreen;
}

